<!DOCTYPE html>
<html>
<head>
	<title>Leave Application</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: RoyalBlue">Attendance Management</h1>

		<body bgcolor="Cornsilk">

			<form action="/submitLeave" autocomplete="on" method="POST" enctype="multipart/form-data">
				<fieldset>
					<h2>Leave Application Form<br><small></small></h2>
				</fieldset>

				<fieldset>
					<legend for="1874755157">Name</legend>
					<div class="form-group">
						<input id="1729637716" type="text" name="name" class="form-control" required>
					</div>
				</fieldset>

				<fieldset>
					<legend for="184780103">Employee ID</legend>
					<div class="form-group">
						<input id="1770396749" type="text" name="emp_id" class="form-control" required>
					</div>
				</fieldset>

				<fieldset>
					<legend for="376082603">Department</legend>
					<div class="form-group">
						<input id="589094590" type="text" name="department" class="form-control" required>
					</div>
				</fieldset>

				<fieldset>
					<legend for="919003939">Type of time-off requested</legend>
					<div class="form-group">
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Vacation" required>
								Vacation
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Sick Leave" required>
								Sick Leave
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Maternity/Paternity" required>
								Maternity/Paternity
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Sick" required>
								Sick
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Bereavement" required>
								Bereavement
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Jury Duty" required>
								Jury Duty
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Time off without pay" required>
								Time off without pay
							</label>
						</div>
						<div class="radio">
							<label>
								<input type="radio" name="leave_type" value="Other" required>
								Other
							</label>
						</div>
					</div>
				</fieldset>

				<fieldset>
					<legend for="1833993761">Start Date</legend>
					<div class="form-group">
						<input type="date" id="start_date" placeholder="8/23/2019" class="form-control" required name="start_date" data-date-format="dd/mm/yyyy">
					</div>
				</fieldset>

				<fieldset>
					<legend for="861643251">End Date</legend>
					<div class="form-group">
						<input type="date" id="end_date" placeholder="8/23/2019" class="form-control" required name="end_date" data-date-format="dd/mm/yyyy">
					</div>
				</fieldset>

				<input type="hidden" name="fvv" value="1">
				<input type="hidden" name="fbzx" value="5356028641311999799">

				<input type="hidden" name="pageHistory" value="0">
				<br />
				<button type="submit" style="background: rgb(34, 151, 34); height: 45px; width: 200px; color: white; size: 5; font:oblique; border-width: 0ch;cursor:pointer">Submit</button>
			</form>
			</div>
			</div>
			</div>
			</div>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha256-2Pjr1OlpZMY6qesJM68t2v39t+lMLvxwpa8QlRjJroA=" crossorigin="anonymous"></script>
			<script>
$('#bootstrapForm').submit(function (event) {
	event.preventDefault()
	var strstartdate = $("#start_date").datepicker("getFormattedDate");
    var strenddate = $("#end_date").datepicker("getFormattedDate");
    var extraData = {}
    {
        /* Parsing input date id=start */
        var dateField = $("#start_date").val()
        var timeField = $("#start_time").val()
        let d = new Date(dateField)
        if (!isNaN(d.getTime())) {
            extraData["entry.start_year"] = d.getFullYear()
            extraData["entry.start_month"] = d.getMonth() + 1
            extraData["entry.start_day"] = d.getUTCDate()
        }
        if (timeField && timeField.split(':').length >= 2) {
            let values = timeField.split(':')
            extraData["entry.start_hour"] = values[0]
            extraData["entry.start_minute"] = values[1]
        }
    }
    {
        /* Parsing input date id=end */
        var dateField = $("#end_date").val()
        var timeField = $("#end_time").val()
        let d = new Date(dateField)
        if (!isNaN(d.getTime())) {
            extraData["entry.end_year"] = d.getFullYear()
            extraData["entry.end_month"] = d.getMonth() + 1
            extraData["entry.end_day"] = d.getUTCDate()
        }
        if (timeField && timeField.split(':').length >= 2) {
            let values = timeField.split(':')
            extraData["entry.end_hour"] = values[0]
            extraData["entry.end_minute"] = values[1]
        }
    }
    $('#bootstrapForm').ajaxSubmit({
        data: extraData,
        dataType: 'jsonp',  // This won't really work. It's just to use a GET instead of a POST to allow cookies from different domain.
        error: function () {
            // Submit of form should be successful but JSONP callback will fail because Google Forms
            // does not support it, so this is handled as a failure.
            alert('Form Submitted. Thanks.')
            // You can also redirect the user to a custom thank-you page:
            // window.location = 'http://www.mydomain.com/thankyoupage.html'
        }
    })
})
			</script>
		</body>
</html>

<br>
<form action=" /leave">
	<button type="submit" style="height: 45px; width: 200px; size: 5; font:oblique; border-width: 0ch; background-color:gray; color:white;cursor:pointer">Back</button>
</form>


		</body>

	</font>
</center>
</html>
