	<!DOCTYPE html>
<html>
<head>
	<title>Get Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: RoyalBlue">Employee Information</h1>

		<body bgcolor="Cornsilk">

			<form action="/searchEmp" autocomplete="on" method="POST">

				<h2 style="color: black">Enter Employee ID</h2>

				Employee ID:<br> <br> <input style="height:25px;font-size:14pt;" type="number" name="emp_id" autofocus size="40"><br><br>

				<button type="submit" style="background:rgb(34, 151, 34); height: 45px; width: 200px; color: white; size: 5; font:oblique; border-width:0ch;cursor:pointer">Search</button><br><br>
			</form>
			<form action=" /database">
				<button type="submit" style="height: 45px; width: 200px; size: 5; font:oblique; border-width: 0ch; background-color:gray; color:white;cursor:pointer">Back</button>
			</form>

		</body>
	</font>
</center>
</html>
