<!DOCTYPE html>
<html>
<head>
<center>
	<font color="RoyalBlue" size="5" style="font-family: avenir">
		<body bgcolor="white">
			<h1>SUCCESSFUL!</h1><br>
			<i><img src="{{ url_for('static',filename='assets/images/successful.jpg')}}" width="400" height="=400" alt="#"/></i>
			<h2>Successfully modified.</h2><br>

			<title>Success</title>
				<form action="/displayleave" autocomplete="on" method = "GET">

					<button type="submit" style="background: green; height: 45px; width: 200px; color:white; font:oblique;border-width: 0ch;cursor: pointer;">OK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
