<!DOCTYPE html>
<html>
<head>
<center>
	<font color="RoyalBlue" size="5" style="font-family: avenir">
		<body bgcolor="white">
			<h1>SUCCESSFUL!</h1><br>
			<i><img src="{{ url_for('static',filename='assets/images/successful.jpg')}}" width="400" height="=400" alt="#"/></i>
			<h2>The following Employee has been withdrawed from the program successfully.</h2><br>
			<h2>{{ name }}</h2><br>
			<title>Withdraw</title>
				<form action="/displayseminar" autocomplete="on" method = "GET">

					<button type="submit" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;border-width: 0ch;cursor: pointer;">GO BACK</button><br><br>

				</form>
		</body>
	</font>
</center>
</head>
<body>

</body>
</html>
